
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
    text-align: center;
	font-family: 'Philosopher', sans-serif;
}
.center-container {
    padding: 0;
    background: rgba(0, 0, 0, 0.62);
}
/*--header--*/
.header-w3l {
    padding: 3em 0;
}
.header-w3l h1{
	font-size:3em;
    color:white;
    letter-spacing: 4px;
    text-transform: uppercase;
}
/*--//header--*/

/*--main--*/
.main-content-agile {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.21);
    width: 34%;
}
.wthree-pro {
    background:rgba(0, 0, 0, 0.52);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.wthree-pro h2 {
    font-size: 1.7em;
    color: #fff;
    letter-spacing: 1px;
    padding: 1em 0;
    font-weight: 600;
}
.sub-main-w3{
	position:relative;
	padding: 3em;
}
.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"], .sub-main-w3 input[type="text"], .sub-main-w3 input[type="tel"], .sub-main-w3 input[type="file"]{
    outline: none;
    font-size: 1em;
    border: none;
    border-bottom: 1px dotted #fff;
    background: none;
    width: 92.5%;
    color: #fff;
    padding: 1em 0 1em 2em;
    letter-spacing: 1px;
    font-family: 'Philosopher', sans-serif;
	background: transparent;
}
.sub-main-w3 .Marge{
	margin-top: 1.5em;
}
.sub-main-w3 .Me{
	margin-top: 0rem;
}
.sub-main-w3 input[type="submit"] {
    color: #fff;
    background: blue;
    border: none;
    padding: .5em 4em;
    outline: none;
    font-size: 1.2em;
    cursor: pointer;
    letter-spacing: 1px;
	margin-top: 2.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Philosopher', sans-serif;
}
.sub-main-w3 input[type="submit"]:hover {
    background: #fff;
    color: #000;
}
span.icon1, span.icon2 {
    color: #fff;
    font-size: 1em;
	position: absolute;
}
span.icon1 {
    top: 15%;
}
span.icon2 {
    top: 32%;
}
span.icon1, span.icon2{
	right: 87%;
}
.rem-w3 {
    margin:2em 0 2.5em;
}
span.check-w3 {
    float: left;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
}
.sub-main-w3 a {
    color: #fff;
    float: right;
    font-size: 1em;
}
/*-- social-icons --*/
.social-icons ul li {
    display: inline-block;
}
.social-icons ul li a.fa {
    font-size: 0.9em;
    line-height: 2.8em;
    text-align: center;
    margin: 0 5px;
    width: 38px;
    height: 38px;
}
.icon-border {
	position: relative;
} 
.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
} 
.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;      
} 
.icon-border::before {
	-webkit-box-shadow: inset 0 0 0 3px #fff; 
	-moz-box-shadow: inset 0 0 0 3px #fff; 
	-o-box-shadow: inset 0 0 0 3px #fff; 
	-ms-box-shadow: inset 0 0 0 3px #fff; 
	box-shadow: inset 0 0 0 3px #fff; 
}  
/* facebook */
.icon-border.facebook:hover::before {
	-webkit-box-shadow: inset 0 0 0 48px #3b5998; 
	-moz-box-shadow: inset 0 0 0 48px #3b5998; 
	-o-box-shadow: inset 0 0 0 48px #3b5998; 
	-ms-box-shadow: inset 0 0 0 48px #3b5998; 
	box-shadow: inset 0 0 0 48px #3b5998; 
}  
/* twitter */
.icon-border.twitter:hover::before {
	-webkit-box-shadow: inset 0 0 0 48px #4099ff;
	-moz-box-shadow: inset 0 0 0 48px #4099ff;
	-o-box-shadow: inset 0 0 0 48px #4099ff;
	-ms-box-shadow: inset 0 0 0 48px #4099ff;
	box-shadow: inset 0 0 0 48px #4099ff;
}  
/* google plus */
.icon-border.googleplus:hover::before {
	-webkit-box-shadow: inset 0 0 0 48px #d34836;
	-moz-box-shadow: inset 0 0 0 48px #d34836;
	-o-box-shadow: inset 0 0 0 48px #d34836;
	-ms-box-shadow: inset 0 0 0 48px #d34836;
	box-shadow: inset 0 0 0 48px #d34836;
}   
/* rss */
 
/*-- //social-icons --*/   
/*--//main--*/

/*--footer--*/
.footer {
    padding:3.05em 0;
}
.footer p {
    font-size: 1em;
    color: #fff;
    letter-spacing: 2px;
}
.footer p a {
    color:#2CC990;
}
.footer p a:hover {
   text-decoration:underline;
}
/*--//footer--*/
/*--responsive--*/
@media(max-width: 1440px){
	.header-w3l h1 {
		font-size: 2.8em;
	}
	.wthree-pro h2 {
		font-size: 1.5em;
	}
	.header-w3l {
		padding: 2.5em 0;
	}
	.main-content-agile {
		width: 38%;
	}
	.footer {
		padding: 3em 0;
	}
}
@media(max-width: 1366px){
	.main-content-agile {
		width: 40%;
	}
}
@media(max-width: 1280px){
	.main-content-agile {
		width: 43%;
	}
}
@media(max-width: 1080px){
	.header-w3l h1 {
		font-size: 2.6em;
	}
	.wthree-pro h2 {
		font-size: 1.4em;
	}
	.main-content-agile {
		width: 49%;
	}
}
@media(max-width: 1024px){
	.main-content-agile {
		width: 51%;
	}
	.header-w3l {
		padding: 2em 0;
	}
	.footer {
		padding: 2.5em 0;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 92%;
	}
	span.icon1, span.icon2 {
		right: 86%;
	}
}
@media(max-width: 991px){
	.header-w3l h1 {
		font-size: 2.5em;
		letter-spacing: 3px;
	}
}
@media(max-width: 800px){
	.header-w3l h1 {
		font-size: 2.2em;
	}
	.main-content-agile {
		width: 61%;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 91%;
	}
	.sub-main-w3 input[type="submit"] {
		margin-top: 2em;
	}
	span.icon1, span.icon2 {
		right: 85%;
	}
}
@media(max-width: 768px){
	.header-w3l {
		padding: 3em 0 6em;
	}
	.footer {
		padding: 6.8em 0 7em;
	}
	.main-content-agile {
		width: 65%;
	}
}
@media(max-width: 736px){
	.header-w3l {
		padding: 2em 0;
	}
	.footer {
		padding: 2.5em 0;
	}	
}
@media(max-width: 667px){
	.wthree-pro h2 {
		font-size: 1.35em;
	}
	.main-content-agile {
		width: 70%;
	}
	.header-w3l h1 {
		letter-spacing: 2px;
	}
}
@media(max-width: 640px){
	.main-content-agile {
		width: 75%;
	}
	.footer p {
		letter-spacing: 1px;
	}
}
@media(max-width: 600px){
	.header-w3l h1 {
		font-size: 2.1em;
	}
	.wthree-pro h2 {
		font-size: 1.3em;
	}
	.main-content-agile {
		width: 77%;
	}
}
@media(max-width: 568px){
	.main-content-agile {
		width: 80%;
	}
	.footer p {
		line-height: 1.9;
	}
	.footer {
		padding: 2em 0;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 90%;
	}
	span.icon1, span.icon2 {
		right: 84%;
	}
}
@media(max-width: 480px){
	.header-w3l {
		padding: 1.5em 0;
	}
	.header-w3l h1 {
		font-size: 2em;
	}
	.main-content-agile {
		width: 86%;
	}
	.sub-main-w3 {
		padding: 2em;
	}
	span.icon1, span.icon2 {
		right: 86%;
	}
	span.icon1 {
		top: 12%;
	}
	span.icon2 {
		top: 31%;
	}
}
@media(max-width: 414px){
	.header-w3l h1 {
		font-size: 1.7em;
	}
	.wthree-pro h2 {
		font-size: 1.2em;
	}
	span.check-w3 {
		font-size: .9em;
	}
	.sub-main-w3 a {
		font-size: .9em;
	}
	.social-icons ul li a.fa {
		margin: 0 4px;
		width: 36px;
		height: 36px;
	}
	.sub-main-w3 input[type="submit"] {
		padding: .5em 3em;
	}
	.footer p {
		font-size: 0.9em;
	}
	.header-w3l {
		padding: 2em 0;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 89%;
	}
	span.icon1, span.icon2 {
		right: 85%;
	}
}
@media(max-width: 384px){
	.header-w3l h1 {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	.header-w3l {
		padding: 1.5em 0;
	}
	.main-content-agile {
		width: 89%;
	}
	span.icon1, span.icon2 {
		right: 84%;
	}
}
@media(max-width: 375px){
	.sub-main-w3 {
		padding: 1.8em;
	}
	.wthree-pro h2 {
		font-size: 1.1em;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		font-size: 0.9em;
	}
	span.icon1, span.icon2 {
		right: 85%;
	}
	span.icon1 {
		top: 11%;
	}
	span.icon2 {
		top: 28%;
	}
	.sub-main-w3 input[type="submit"] {
		padding: .4em 3em;
		margin-top: 1.8em;
	}
	.footer {
		padding: 1.5em 0;
	}
}
@media(max-width: 320px){
	.header-w3l h1 {
		font-size: 1.4em;
	}
	.wthree-pro h2 {
		font-size: 1.05em;
		padding: 0.8em 0;
	}
	.sub-main-w3 {
		padding: 1em;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 87%;
	}
	.sub-main-w3 input[type="password"] {
		margin-top: 1em;
	}
	span.icon1, span.icon2 {
		right: 86%;
	}
	span.icon1 {
		top: 10.1%;
	}
	span.icon2 {
		top: 27%;
	}
	span.check-w3 {
		font-size: .85em;
	}
	.sub-main-w3 a {
		font-size: .85em;
	}
	.rem-w3 {
		margin: 2em 0 2em;
	}
	.social-icons ul li a.fa {
		font-size: 0.8em;
	}
	.sub-main-w3 input[type="submit"]{
		font-size: 1em;
		padding: .5em 2.5em;
	}
}
/*--//responsive-- Css-----------------------------*/
/*--//----------------------------Page Accueil------------------------------------------*/
#Over:hover{
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
	transition: ease-out 0.2s;
	border: 2px solid rgba(255,255,255,0.8);
	-webkit-transition: ease-out 0.2s;
}
#Over {
	transition: linear 0.25s;
}
.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  border: 2px solid rgba(255,255,255,0.4);
	border-radius: 50%;	
transition: linear 0.25s;
  height: 32px;
  width: 32px;
}
.circle img {
	border-radius: 50%;	
}
.circle:hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
}
header {
    background-color: var(--danger);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  }
  p.s-log {
    color: #ffcc33;
line-height: 1px;
text-align: right;
font-weight: 600;
letter-spacing: 4px;
margin-top: -11px;
font-size: 0.3em;
}
h1 span {
  color: #00acee;
  font-size: 1.8em;
}
.navContent h1 {
  font-size: 2em;
  display: block;
  text-transform: uppercase;
}
.navContent h1 a {
  color: black;
text-decoration: none;
display: inline-block;
line-height: 61px;
font-weight: bold;
padding-bottom: 5px;
font-family: 'Open Sans', sans-serif;
}

.w3l-banner {
    
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
    background-size: cover;
    -ms-background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 630px;
    
  }
  
  .bannerw3-content {
    max-width: 700px;
  }
  
 
  .w3l-banner h3.title {
    font-size: 58px;
    line-height: 68px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
  }
  
  .w3l-banner h3.title span {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-family: monospace;
    color: red;
    text-transform: uppercase;
  }
  
  .w3l-banner p.sample a {
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
  }
  
  span.title-small {
    color: var(--orange);
    font-size: 50px;
    font-family: cursive;
    line-height: 25px;
  }
  
  .bannerw3-content p {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    
  }
  .Card{
    margin-top: 0px;
  }
  .card-body{
    background-image: url(banner.jpg);
  }
.transition{
  text-align: center;
  width: 100%;
  background-color: #00acee;;
  padding-top: 10px;
  
}

.transition h1 a{
  color: white;
text-decoration: none;
display: inline-block;
line-height: 61px;
font-weight: bold;
padding-bottom: 5px;
font-family: 'Open Sans', sans-serif;
}
.card-title{
  font-family: "Liberation Mono";
  text-transform:initial;
  color: red;;
  font-weight: bold;
}
.card-text{
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-weight: bold;
}
.Titr-con{
  font-size:42px; 
  color: #00acee; 
  text-align: center;
  font-weight: bold; 
  text-transform: uppercase;
  font-family: monospace;
}



textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
.btn,
select {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}


/* Section top bottom gap */
.section-gap {
  padding: 4.5rem 0;
}

@media screen and (max-width:767px) {
  .section-gap {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width:480px) {
  .section-gap {
    padding: 3rem 0;
  }
}
/* / Section top bottom gap */

/* title-styling */
h3.global-title {
  font-size: 40px;
  line-height: 45px;
  color: #16191e;
  margin-bottom: 50px;
  text-transform: capitalize;
}

@media screen and (max-width:767px) {
  h3.global-title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width:600px) {
  h3.global-title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width:500px) {
  h3.global-title {
    font-size: 30px;
    line-height: 35px;
  }
}
/* / title-styling */


/* contact1 */
  .margin-up {
    margin-top: 2.5rem;
  }

  h4.sub-title {
    font-size: 16px;
    margin: 0;
    color: #ff4c4c;
    font-weight: normal;
  }

  .contact-view {
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 30px;
  }

  .cont-top {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
  }

  .twice {
    margin-bottom: 20px;
  }

  .cont-details span.fa {
    font-size: 22px;
    color: #ff4c4c;
    display: block;
    margin-top: 3px;
  }

  .cont-details h6 {
    font-size: 20px;
    color: #051b35;
    font-weight: 600;
  }

  .cont-details p,
  .cont-details p a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-top: 3px;
  }

  .cont-details p a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color: #051b35;
  }

  .cont-details address {
    margin: 25px 0;
  }

  .cont-details address p {
    margin: 5px 0;
  }

  .twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  .map-content-9 form input,
  .map-content-9 form textarea {
    background: #f8f9fa;
    border: 2px solid rgba(216, 216, 216, 0.3);
    color: #777;
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
    border-radius: 4px;
    height: 55px;
  }

  .map-content-9 h5 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #000000;
  }

  .map-content-9 form textarea {
    resize: none;
    min-height: 140px;
  }

  .map-content-9 form input:focus,
  .map-content-9 form textarea:focus {
    outline: none;
    border: 2px solid #051b35;
    background: #fff;
    box-shadow: none;
  }

  button.btn-contact {
    border: none;
    font-size: 16px;
    padding: 15px 30px;
    margin: 20px auto 0;
    color: #fff;
    background: #ff4c4c;
    border-color: #ff4c4c;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .cont-details h6 a {
    color: #051b35;
  }

  /* contact1-responsive */
  @media(max-width: 992px) {

    .cont-details p,
    .cont-details p a {
      font-size: 16px;
    }

    .cont-details h5 {
      font-size: 32px;
      line-height: 35px;
    }

    .contact-view {
      grid-template-columns: 1fr;
    }

    .map-content-9 {
      margin-top: 40px;
    }
  }

  @media(max-width: 480px) {
    .twice-two {
      grid-template-columns: 1fr;
    }

    button.btn-contact {
      width: 100%;
    }
  }
  #about .about{
   
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    
  }
  .sous-about{
    text-align: center;
  }
  /* / contact1-responsive */
  /* /contact1 */
  @media screen and (max-width: 560px){
    .navContent h1 {
      font-size: 1.5em;
      display: block;
      text-transform: uppercase;
    }
    .Titr-con {
      font-size: 30px;
    }
  }
  .footer-w3l{
      height: 50px;
    background-color: black;
  }
  .footer-w3l p{
    padding-top: 10px;
    padding-bottom: 10px;
    width:70%;
    margin:0 auto;
    text-align:center;
    font-size:12px;
    color:white;
    letter-spacing:1px;
    font-family: monospace;
  }
  .footer-w3l p a{
    color:#fff;
  }
 /*********************************  Profile  ***********************************/
 .tab {
  float: left;
  border: 1px solid #ccc;
  background-color: rgb(24, 1, 24);
  width: 30%;
  height: 300px;
  transition: transform .2s;
}
.tab:hover {
  transform: scale(1.1);
}
table{
  height: 100%;
  width: 100%;
}
.tabcontent {
  background: whitesmoke;
  padding: 5px 0;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
.profile
{
  font-family: 'Roboto Condensed', sans-serif;
  
}
.image {
  line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 7px;
  border: 2px solid rgba(255,255,255,0.4);
	border-radius: 50%;	
transition: linear 0.25s;
  height: 50%;
  width: 50%;
}

.image img {
	border-radius: 50%;	
}
/*--main-content--*/
.profile h1 {
    color: rgb(24, 1, 24);
    font-size: 40px;
    letter-spacing: 4px;
    word-spacing: 13px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}
.main-agileits {
 
  padding: 30px 45px;
  margin: 0 auto;
}
.tabcontent .label{
  font-size: 20px;
  color: rgb(24, 1, 24);
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  
}
.tabcontent .Value{
  font-size: 14px;
  color: black;
  font-weight:800;
  font-family: sans-serif;
  
}
.button a {
  font-size: 17px;
padding: 8px 32px;
display: inline-block;
background: #00acee;;
border: 2px solid #00acee;
color: #fff;
outline: none;
text-decoration: none;
}
option{
  color: white;
}
.col-sm-3 .card-text{
  font-weight: normal;
  font-family: Georgia;
}
@media (max-width: 700px){
  .tabcontent {
    float: none;
    width: 100%;
  }
  .tab {
    float: none;
    width: 100%;
    height: 300px;
  }
  .profile h1 {
    color: rgb(24, 1, 24);
    font-size: 25px;
   
}
  .tabcontent .label{
    font-size: 15px;
    
  
  }
  .tabcontent .Value{
    font-size: 10px;
  }
  .table thead {
  display: none;
  }

  .table tr{
  display: block;
 
  }

  .table td {
  display: block;

  }

  .table td:before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  }
  }

  /*********************************Page Code**************************************/
  
  .control-panel{
    margin: 5px auto;
    float: right;
    width: 50%;
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
.languages{
    background: white;
    border: 1px solid gray;
}
.description{
  border-radius: 5px;
  border: 2px solid black;
  float: left;
  width: 47%;
  margin-left: 10px;
  min-height: 446px;
  background-color: lightgray;
  box-shadow: 5px 5px 10px  rgb(24, 1, 24);
}
#editor{
  
    float: right;
    min-width: 50%;
    min-height: 400px;
    background-color: black;
}
.text-container{
  border: 2px solid rgb(24, 1, 24);
  margin-right: 10px;
  border-radius: 5px;
}
.btn{
    background: #57a958;
    padding: 8px;
    color: white;
    border: 0;
}
.button-container{
    text-align: right;
    padding: 4px;
}
.output{
    padding: 4px;
    border: 2px solid gray;
    min-height: 100px;
    width: 95%;
    resize: none;
    background-color: gray;
}
.console{
  float: right; 
  width: 50%; 
  margin-right: 10px; 
}

.download-fab {
    cursor: pointer;
    position: absolute;
  
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: #2979ff;
    box-shadow: var(--shadow-elevation-1);
    transition: background-color 100ms ease, box-shadow 100ms ease;
  }
  
.download-fab:hover {
    background-color: #3580fd;
    box-shadow: var(--shadow-elevation-2);
  }
 
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(24, 1, 24); /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .editor{
     
    float: none;
    width: 100%;
  
  }
  .client{
      float: none;
      min-width: 100%;
     
  }
  @media (max-width: 700px) {
    .description{
     
      float: none;
      width: 100%;
    
    }
    #editor{
        float: none;
        min-width: 100%;
       
    }
    .console{
      float:  none; 
      width: 100%; 
      
    }
  }
  /************************************************** Partie Liste des challenges ***************/
.leau{
  float: left;
  border: 1px solid #ccc;
  background-color: black;
  width: 40%;
  height: 200px;
  transition: transform .2s;
}
.e{
  background: rgba(0, 0, 0, 0.62);
  padding: 5px 0;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 60%;
  border-left: none;
  height: 200px;
}
.tabcontent .ch{
  font-size: 20px;
  color: #00acee;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  
}
.challenge{
  min-height: 480px;
}
@media ( max-width: 700px){
  .leau{
    float: none;
    width: 100%;
  
  }
  .e{
   
    width: 100%;
   float: none;
    height: 100px;
  }
  .table .tr{
    display: flex;
    }
    .table .ch{
    display: block;
  
    }
    .tabcontent .ch{
      font-size: 20px;
    }
    .tabcontent .value{
      font-size: 15px; 
    }
    .profile .h1 {
      color: rgb(24, 1, 24);
      font-size: 15px;
      letter-spacing: 0px;
      word-spacing: 0px;
     
  }
}
/*-----------------------------------Partie New Test----------------------------*/
.NewTest .row{
  background-color: rgba(116, 113, 113, 0.62);
}
.labels{
  color: rgb(24, 1, 24);
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 9px;
}
.column input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

.column input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-family: sans-serif;
}

.column input[type=submit]:hover {
  background-color: #45a049;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 10px;
  }
}